@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Roboto:wght@400;500&display=swap');
:root {
  --font-color-light: #fcfcfc;
  --font-color-light-2: #f9f9f9;
  --font-color-gray: #898989;
  --font-color-dark: #1f1f1f;
  --background-color-blue: #57cadb;
  --background-color-gray: #616978;
  --background-color-light: #dfdfdf;

}

.container-menu {
  color: var(--font-color-light-2);
}

.justify-content-center {
  justify-content: center;
}

#root>div {
  height: 100%;
}

.container {
  height: 100%;
}

.container h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
}

button {
  cursor: pointer;
  background: no-repeat;
  border: none;
}

.flex {
  display: flex;
}

.center-y {
  flex-direction: column;
  align-items: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-end {
  justify-content: end;
} 

.temp-c {
  font-size: 108px;
}

.arrow-up {
  color: var(--font-color-gray);
}

.condition-light {
  background-color: var(--background-color-light);
  color: var(--font-color-dark);
}

.condition-dark {
  background-color: var(--background-color-gray);
  color: var(--font-color-light);
}

.condition-sunny {
  background-color: var(--background-color-blue);
  color: var(--font-color-light);
}
.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 2%;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.icon-menu {
  font-size: 200px;
  padding: 40px;
}

.button-menu {
  color: var(--font-color-light-2);
  padding: 10px;
  font-size: 20px;
}

.title-menu {
  text-transform: uppercase;
}

.button-back {
  color: var(--font-color-light);
  position: fixed;
  left: 10px;
  top: 10px;
}

.container-button-menu {
  justify-content: center;
  display: flex;
  flex-flow: wrap;
}

.font-1-5 {
  font-size: 1.5rem;
}


.forecastday {
  padding: 10% 0 10% 0;
}